<mat-card>

    <mat-card-content>
        <div class="list-container">
            <mat-card class="mat-elevation-z4" *ngFor="let pokemonDetail of pokemonDetails"
                [routerLink]="['/details', pokemonDetail.id]">
                <img mat-card-image [src]="pokemonDetail.sprites.front_default" alt="Photo of a pokemon" />
                <mat-card-content>
                    <p>{{ pokemonDetail.name }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="pokemons && pokemonDetails">
        <span class="spacer"></span>
        {{previous}}
        <span [style.padding]="'35px'">
            <button [disabled]="previous === null" (click)="previousClicked.emit(previous)" mat-raised-button
                color="primary">
                Previous
            </button>
            <button [disabled]="next === null" (click)="nextClicked.emit(next)" mat-raised-button color="primary">
                Next
            </button>
        </span>
    </mat-card-actions>
</mat-card>