.damage-item{
    flex-basis:25%;
    margin:1%;
  }
  .damage-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 2% 0;
      height: 70%;
  }

  .block{
    width:5px;
    height:15px;
    margin: 4%;
    font-size: larger;
    color: white;
    font-family: serif;
  }