mat-form-field {
    flex: 0 0 30%;
 }

 mat-card {
    margin: 20px 30px;
 }
 
 form mat-card-content {
       display: flex;
       flex-flow: row wrap;
       justify-content: space-between;
 }
 
 .half-width {
    width: 50%;
 }