<mat-card *ngIf="selectedPokemon">
    <mat-grid-list cols="3" rowHeight="11:1">
        <mat-grid-tile-header>
            <mat-toolbar color="primary">
                <h1 class="mat-display-1">
                    {{selectedPokemon.name | titlecase }}
                </h1>
            </mat-toolbar>
        </mat-grid-tile-header>
        <mat-grid-tile colspan="3" rowspan="2">
            <app-pokemon-type *ngFor="let type of selectedPokemon.types" [type]="type.type.name"
                [style.background-color]="type.type.color">
            </app-pokemon-type>
        </mat-grid-tile>
        <mat-grid-tile rowspan="5" colspan="1">
            <mat-card>
                <img mat-card-image [src]="selectedPokemon.sprites.front_default" />
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="6" colspan="2">
            <app-pokemon-stats [stats]="selectedPokemon.stats" [selectedPokemon]="selectedPokemon"></app-pokemon-stats>
        </mat-grid-tile>
    </mat-grid-list>
    <app-pokemon-profile [details]="selectedPokemon" [species]="species">
    </app-pokemon-profile>
    <app-pokemon-evolution [details]="selectedPokemon" [evolutionary]="evolutionary">
    </app-pokemon-evolution>
    <app-pokemon-damage [details]="selectedPokemon" [damage]="damage">
    </app-pokemon-damage>
</mat-card>